:root {
}

body{

font-family: 'Roboto', sans-serif;
background-color: #fff;
/*колір основного тексту #757575*/
/*колір вторинного тексту #212121*/
/*колір н1 #FFFFFF*/
/*колір акцент.логотіпа #2196F3
                        #000000 * /
/*колір першого фону (основний) #FFFFFF*/
/*колір другого фону #2F303A*/
/*колір третього фону #F5F4FA*/

} 

     /*!--робота з текстом в  ссилках в шапці */
.link{
  text-decoration: none;
}
.link:hover,
.link:focus{

color:coral;
}

.list{
list-style:none;}

.logo-link{
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1,192;
}
.logo-color-first{
color:#2196F3;
}
.logo-color-second{
color:#000000 ;
}

.heder-nav-link{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1,142;
  letter-spacing: 0.02em;
   color: #212121;
}



.header-nav-mail{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1,142;
letter-spacing: 0.02em;

color: #2196F3;
}
 
.header-nav-tel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1,142;
  letter-spacing: 0.02em;
  
  color: #757575;
}

  

    