body{
background-color: #fff;
font-family: 'Roboto', sans-serif;
width: 1600px;
background: #FFFFFF;
}

     /*!--ссилкі в шапці */
.nav-links{
  
}

.heder{
    background-color:#ECECEC ;
    width: 1600px;
    height: 80px;

}

.logo{
  padding-top: 25px; 
  padding-left: 215px;
  
  font-family: 'Raleway';
font-size: 26px;
line-height: 31px;
color:#000000;

}
span{
color:#2196F3;
}
 a{  text-decoration: none;
 
}
li{text-decoration: none
}